li :hover {
  background: transparent !important;
  animation-duration: 700ms !important;
  color: #007456 !important;
}

.text-main {
  color: #007456;
}

.border-main {
  border-color: #007456;
}

.bg-main {
  background-color: #007456;
}

/* Dark mode overrides */
.dark .text-main {
  color: #00a67c;
}

.dark .border-main {
  border-color: #00a67c;
}

.dark .bg-main {
  background-color: #00a67c;
}

.dark .text-black {
  color: #e5e7eb;
}